
		body {
			font-family: Arial, sans-serif;
			background-color:lavender;
		}
		img {
			max-width: 50%;
		}
		.property-info {
			margin-top: 20px;
			line-height: 1.6;
		}
		.property-info h2 {
			margin-top: 0;
		}
		.property-info ul {
			list-style: none;
			padding: 0;
		}
		.property-info li {
			margin-bottom: 5px;
		}
		
	